@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:1 rem solid rgba(0,0,0,.1);
    --border-hover:1 rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    font-family: 'Poppins', 'san-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline:none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}
h1{
    font-size: 40px;
}
html{
    font-size: 62.5%;
    overflow-x: hidden ;
    scroll-behavior:smooth;
}
html::-webkit-scrollbar{
width:1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
    }
html::-webkit-scrollbar-thumb{
    background: var(--black);
    }

    .hero{
        background-color: #f8f8f8;
        overflow: hidden;
    }
    .head h1{
        text-align: center;
    padding-top: 2%;
    margin-bottom: 60px;
    font-weight: 600;
    position:relative;
    }
    .head h1::after{
        content: '';
        background: var(--green);
        width: 100px;
        height:5px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
    .contain{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 65px auto;
    }
    .hero-content{
        flex: 1;
        width: 600px;
        margin: 0px 25px;
        animation: fadeInUp 2s ease;
    }
    .hero-content h2{
        font-size: 38px;
        margin-bottom: 20px;
        color:var(--black);

    }
    .hero-content p{
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 40px;
        color: #666;
    }
    .hero-content button{
        display: inline-block;
        background-color: var(--green);
        color: #fff;
        padding: 12px 24px;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        cursor:pointer;
        transition: 0.3s ease;
    }
    .hero-content button:hover{
        background-color: var(--dark-color);
        transform: scale(1.1);
    }
    .hero-image{
        flex: 1;
        width: 600px;
        margin:auto;

    }
    .hero-image img{
        width: 100%;
        height: auto;
        border-radius:10px;
        animation: fadeInRight 2s ease;
    }
    @media screen and (max-width:768px) {
        .head h1{
            font-size: 45px;
            margin-top: 30px;
        }
        .hero{
            margin: 0px;
        }
        .contain{
            width: 100%;
            flex-direction: column;
            margin: 0px;
            padding: 0px 40px;
        }
        .hero-content{
            width: 100%;
            margin: 35px 0px;
        }
        .hero-content h2{
            font-size: 30px;
        }
        .hero-content p{
            font-size:18px;
            margin-bottom: 20px;
        }
        .hero-content button{
            font-size: 16px;
            padding: 8px 16px;
        }
        .hero-image{
            width: 100%;
        }
    }
    @keyframes fadeInUp{
        0%{
            opacity: 0;
            transform: translateY(50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes fadeInRight{
        0%{
            opacity: 0;
            transform: translateY(-50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }

  @media (max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }
   .header .header-2{
    display: none;
   }
   .bottom-navbar{
    display: block;
   }
   .header .header-1{
    box-shadow: var(--box-shadow);
    position: relative;
   }
   .header .header-1 .search-form{
    position: absolute;
    top:115%; right:2rem ;
    width:90%;
    box-shadow: var(--box-shadow);
   }
   .header .header-1 .search-form.active{
    top:115%;
   }
   .home .row .content{
    text-align: center;
   }
   .home .row .content h3{
    font-size: 3.5rem;
   }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    
}
/* footer */
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
ul{
    list-style: none;
}
.footer{
    background:var(--green);
    padding: 70px 0;

}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom:30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4:before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #e91e63;
height:2px;
box-sizing: border-box;
width:50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: var(--light-color);
margin:0 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;

}